<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587499801358-omnh909lqc2ktpiocm0ju294hgp6hr6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587499801358-omnh909lqc2ktpiocm0ju294hgp6hr6h</string>
	<key>API_KEY</key>
	<string>AIzaSyAddLn03Yx70FSl1Hr326DSJ9RcaRwcFCI</string>
	<key>GCM_SENDER_ID</key>
	<string>587499801358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseUserdbTask</string>
	<key>PROJECT_ID</key>
	<string>fir-a-to-z</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-a-to-z.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587499801358:ios:33cee0c4bdbe89853d255f</string>
</dict>
</plist>